.git
.idea
.vscode
**/target
!booking-server-command/target/
booking-server-command/target/*
!booking-server-command/target/booking-server-command-0.0.1-SNAPSHOT.jar
!booking-server-query/target/
booking-server-query/target/*
!booking-server-query/target/booking-server-query-0.0.1-SNAPSHOT.jar
**/logs
**/*.log
**/.env
**/.env.*
**/*.pem
**/*.key
